#Heading{
    text-shadow: 1px 2px 5px Green;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
}

button#File-Choose-btn {
    padding-left: 10px;
    margin-left: 24px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;
}
#File-Choose-btn:hover{ 
    background-color: #3eb1f3;
    font-weight: 400;
    color: white;
}

button#add-chart-btn {
    padding-left: 10px;
    margin-left: 24px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;

}
#add-chart-btn:hover{ 
    background-color: #3eb1f3;
    font-weight: 400;
    color: white;
}


button#remove-global-filter-btn {
    padding-left: 10px;
    margin-left: 24px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;
}
#remove-global-filter-btn:hover{ 
    background-color: #3eb1f3;
    font-weight: 400;
    color: white;
}

button#show-global-filter-btn {
    padding-left: 10px;
    margin-left: 24px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;
}
#show-global-filter-btn:hover{ 
    background-color: #3eb1f3;
    font-weight: 400;
    color: white;
}

button#save-dashboard-btn {
    padding-left: 10px;
    margin-left: 24px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;
}
#save-dashboard-btn:hover{ 
    background-color: green;
    font-weight: 400;
    color: white;
}
button.upload-dashboard {
    padding-left: 10px;
    margin-left: 24px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;
}
button.upload-dashboard:hover{ 
    background-color:#3eb1f3;
    font-weight: 400;
    color: white;
}


button#logout-btn {
    position: fixed !important;        /* ✅ Fixed: Added !important */
    /* top: 20px;                         ✅ Added: Vertical position */
    right: 20px;    
    padding-left: 10px;
    padding-right: 11px;
    margin-left: 158px;
    font-size: bold;
    background:#ffffff;
    color:black;
    border-radius: 11px;
}

#logout-btn:hover{ 
    background-color:red;
    font-weight: 400;
    color: white;
}